@import 'normalize';

$white: #fafafa;
$light-grey: #555555;
$grey: #444444;
$dark-grey: #333333;

body {
  background-color: $dark-grey;
}

.wrapper {
  width: 95%;
  margin: 0 auto;
  max-width: 300px;
}

img {
  width: 100%;
  margin-top: 20px;
  box-sizing: border-box;
  padding: 0 35%;
}

.message {
  color: $white;
  margin: 10px 0;
  height: 17px;
}

.button {
  display: block;
  background-color: $grey;
  padding: 15px;
  box-sizing: border-box;
  width: 100%;
  color: $white;
  margin-bottom: 20px;
  text-align: center;

  &:hover {
    background-color: $light-grey;
    cursor: pointer;
  }
}

.board {
  background-color: $grey;
  box-sizing: border-box;
  padding: 10px;
  display: none;

  .box {
    width: calc(33.3% - 6.6px);
    padding-bottom: calc(33.3% - 6.6px);
    display: inline-block;
    background-color: $light-grey;
    margin-bottom: 7px;
    transition: background-color .3s ease;

    &:nth-child(3n + 1),
    &:nth-child(3n + 2) {
      margin-right: 10px;
    }

    &:hover {
      cursor: pointer;
    }

    &:nth-child(n + 7) {
      margin-bottom: -2px;
    }
  }
}
